* {box-sizing: border-box}

body{
    height: 100vh;
    /* background-image: linear-gradient(to right, #e8cbc0, #636fa4); */
    background-color: #262626;
}
.container {
    padding: 16px;
    max-width: 1100px;
    position: absolute;
    left:50%;
    margin-left: -550px;
    margin-top: 40px;
    margin-bottom: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.671);
    background: #e0dcdc;
}
  /* Full-width input fields */
input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    /* background: green;  */
}

input:focus{
    background-color: #ddd;
    outline: none;
}

  /* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

  /* Set a style for the submit/register button */
.registerbtn {
    background-color:#262626;
    color: #E34234;
    font-size: 19px;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.95;
}

.registerbtn:hover {
    opacity:1;
}

  /* Add a blue text color to links */
a {
    color: dodgerblue;
}

  /* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}